DB_USER=""
DB_HOST=""
DB_NAME=""
DB_PASSWORD=""
DB_PORT=""

PORT="SERVER_PORT"

JWT_SECRET=""
ADMIN_PASSWORD=""

MOUNT_POINT="ASSET_STORAGE MOUNT POINT"
UPLOAD_PATH="ASSET UPLOAD PATH"
ASSET_SERVER_ADDR="ASSET_STORAGE SERVER IP ADDR"

